@import url('https://fonts.googleapis.com/css2?family=Quantico:ital,wght@0,400;0,700;1,400;1,700&display=swap');
@import "tailwindcss";

/* :root {
  --background: #ffffff;
  --foreground: #1e0f49;
} */

:root {
  --font-quantico: 'Quantico', sans-serif;
  --font-sans: var(--font-quantico);
  --backgroundColor: #190733;
  --primaryColor: #3bccf8;
  --primarytTextColor: #e6e6e6;

  --headlineBig: clamp(5rem, 9.9vw, 15rem);
  --headlineMedium: clamp(1rem, 2vw, 4rem);
  --headlineSmall: clamp(0.6rem, 0.75vw, 1.3rem);
  --spacing: clamp(0.9rem, 0.75vw, 1.3rem);
}



/* @media (prefers-color-scheme: dark) {
  :root {
    --background: #1e0f49;
    --foreground: #ffffff;
  }
} */

body {
  background: var(--backgroundColor);
  font-family: var(--font-sans, Arial), sans-serif;
}

html, body {
  scroll-behavior: smooth;
  box-sizing: border-box;
}

